<% provide(:title, 'Home') %>
  <h1>About Me</h1>
  <%= image_tag("david_face.jpg", alt: "David Roberts", class: "img-float-left") %>
  <p>I’m a composer, software engineer, brewer, and sound designer living in Chicago.<p>
  <p>I believe strongly that the best ideas start from a simple, functional base and well-considered
  details, and I strive to bring this perspective to all of my work, be it a string quartet, an
  algorithm for destroying sound, or a crisp session IPA.</p>

  <p>
    I have my fingers in many pots and can be found
    <%= link_to "putting on concerts", "http://www.secondcycleensemble.com" %>,
    <%= link_to "ranting about art music", "https://musicalinvective.wordpress.com/" %>,
    <%= link_to "teaching people to make beer", "http://www.brewcamp.com" %>, or running on the lakefront.
  </p>
  <p>Boring professional credentials can be found on my <%= link_to 'resume', resume_download_url %>.</p>
