<!-- <footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "software",    software_path %></li>
      <li><%= link_to "music", music_path %></li>
      <li><%= link_to "works", works_path %></li>
      <li><a href="/resume">resume</a></li>
    </ul>
  </nav>
</footer> -->

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
    <ul class="nav navbar-nav">
      <li><%= link_to "home",   root_path %></li>
      <li><%= link_to "software",    software_path %></li>
      <li><%= link_to "music", music_path %></li>
      <li><%= link_to "works", works_path %></li>
      <li><a href="/resume">resume</a></li>
    </ul>
</nav>