<header class="header">
<ul>
  <li>
    <div class="top-nav">
      <ul>
        <li><h1 id="logo">David Roberts</h1></li>
        <li><%= link_to "home",   root_path %></li>
        <li><%= link_to "software",    software_path %></li>
        <li><%= link_to "music", music_path %></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="social">
      <ul>
        <li>.<%= link_to(image_tag("glyphicons_322_twitter.png", alt: "Twitter", class: "social-icon"), "http://www.twitter.com/smoip") %></li>
        <li>.<%= link_to(image_tag("glyphicons_341_github.png", alt: "Github", class: "social-icon"), "http://www.github.com/smoip") %></li>
        <li>.<%= link_to(image_tag("glyphicons_329_e-mail.png", alt: "E-mail", class: "social-icon"), "mailto:drsmoip@gmail.com") %></li>
      </ul>
    </div>
  </li>
</ul>
</header>